/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

@font-face {
  font-family: "digital-7";
  src: url("../assets/fonts/digital-7.ttf");
}

body {
  height: 100vh;
  background: #001100;
  color: green;

  font-size: 18px;
  font-family: "digital-7";

}

button {
  background: none;
  border: none;
  color: green;
  font-family: "digital-7";
}

/******************************************
/* LAYOUT
/*******************************************/
header, footer {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #000;
}

header {
  height: 50px;
}

footer {
  height: 20px;
  font-size: .8em;
}

main {
  display: flex;
  flex-direction: column;

  height: calc(100% - 70px);
}

main > * {
  border: 1px solid green;
}


.dealer-cards,
.player-cards {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 25%;
}

.card {
  margin: 10px;

  font-size: 2em;
}



/* CONSOLE AND CONSOLE STATES */

.inactive {
  display: none;
}

.console {
  height: 50%;

  display: flex;
  flex-direction: column;
}

.console > * {
  height: 100%;
}

.betting {
  border: 1px solid red;
}

.playing {
  display: flex;
  flex-wrap: wrap;
}

.playing > button{
  border: 1px solid green;
  width: 50%;
}

.complete {
  border: 1px solid blue;
}

.inactive {
  display: none;
}

.chips {
  display: flex;
  justify-content: center;
  align-items: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
